{% extends "playlist/base.html" %}
{% block content %}
<div class="row mb-4">
    <div class="col">
        <h1 class="display-4">9 til 12 Playlist</h1>
    </div>

    <h2>Filter Playlist</h2>
    
    <div class="row">
        <form method="GET">

            <div class="row">
                <div class="col-md-4 col-lg-4 mt-2 mb-4">
                    <label for="TextSearch">Title or Artist</label>
                    <input class="form-control py-2" type="search" id= "TextSearch" name="title_or_artist" placeholder="Title or artist..." value="{{ tlabel }}" />
                </div>        
            </div>


            <div class="row">

                <div class="col-md-2 col-lg-2">
                    <label for="playedOnMin">Start date</label>
                    <input type="date" class="form-control" id="playedOnMin" name="date_min" value="{{ slabel }}">
                </div>

                <div class="col-md-2 col-lg-2">
                    <label for="playedOnMax">End Date</label>
                    <input type="date" class="form-control" id="playedOnMax" name="date_max" value="{{ elabel }}">
                </div>

                <div class="col-md-2 col-lg-2 mt-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>    
    

</div>

<div class="row image-gallery">
    {% for track in queryset %}
        <div class="col col-md-2 col-lg-2">
            <img class="banner" src="{{ track.artist.banner.url }}"alt = "{{ track.artist }}"/>
            <h2>
                <a href="{% url 'playlist:track-detail' track.pk %}" class="text-decoration-none">
                    {{ track.title }}
                </a>
            </h2>
            <p>
                {{ track.artist }}<br/>
                <small>{{ track.played_on|date:"d F Y" }} {{ track.played_at|date:"H:i" }}</small>
            </p>
        </div>            
    {% empty %}
        <h2>No tracks found!</h2>
    {% endfor %}
</div>


    <!--
    {{ queryset }} <br>
    Has previous: {{ queryset.has_previous }} <br>
    Has next: {{ queryset.has_next }} <br>
    Current page: {{ queryset.number }} <br>
    Number of pages: {{ queryset.paginator.num_pages }} <br>
    <br><br>
    -->
    
    <hr><br><br>

    {% if queryset.has_previous %}
        <a href="?page=1">&laquo First</a> 
        <a href="?page={{ queryset.previous_page_number }}">Previous</a>

    {% endif %}

    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}

   {% if queryset.has_next %}
        <a href="?page={{ queryset.next_page_number }}">Next</a> 
        <a href="?page={{ queryset.paginator.num_pages}}">Last &raquo</a>

    {% endif %}


{% endblock %}
