{% extends "playlist/base.html" %}
{% block content %}
<div class="content-section">
    <p>{{track.title}}</p>
    <img class="banner-detail" src="{{ track.artist.banner.url }}"alt = "{{ track.artist }}"/>
    <p>{{track.artist}}</p>
    <hr>
    <p>Playlist history : track has been played {{ play_total }} times</p>

    <ul>
    {% for item in history %}
    <li><small>{{ item.played_on|date:"d F Y" }} {{ item.played_at|date:"H:i" }}</small></li>

    {% endfor %}
    </ul>

    <div class="btn-group">
        <a href="{% url 'playlist:home'%}" class="btn btn-sm btn-outline-secondary ms-2">Return</a>
    </div>
</div>
{% endblock %}
